* {
    box-sizing: border-box;
}

#reactbody{
    text-align: center;
}
.main{
    position: relative;
    margin-top: 5vh;
}

html,
body {
    min-height: 100%;
    height: 100%;
}

header {
    background: #1A212C;
    color: #fff;
    padding: 10px 36px !important;
}

header h2 {
    line-height: 78px;
}

.display-iframe {
    width: 100%;
    min-height: 600px;
}

.hide {
    display: none !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}


.red.light-up {
    display: inline-block !important;
}

.red.light-up:after {
    background: red;
}

.light:after {
    content: '';
    width: 30px;
    height: 30px;
    top: 24px;
    left: -40px;
    position: absolute;
    display: inline-block;
    border-radius: 50%;
    background: none;
}

.green.light-up {
    display: inline-block !important;
}

.green.light-up:after {
    background: forestgreen;
}

.light {
    line-height: 78px;
    position: relative;
    display: none;
    font-size: 24px;
}

.chat {
    margin: 0.5em;
    border: 1px solid #ccc;
    height: 11em;
    width: 500px;
}

html,
body {
    min-height: 100%;
    height: 100%;
}

.dimmer {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.dimmer.on {
    pointer-events: auto;
}

.dimmer.on:after,
.dimmer.on:before {
    transform: translateY(0);
}

.dimmer:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    background: #000;
    transform: translateY(100%);
    transition: transform 0.3s ease-out;
}

.dimmer:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    background: #000;
    transform: translateY(-100%);
    transition: transform 0.3s ease-out;
}

.start .default-left {
    background-image: url('../images/sport.jpg');
    background-size: cover;
}

.insidan .default-left {
    background-image: url('../images/kibana.png');
    background-size: contain;
}

.insidan .default-bottom {
    background-image: url('../images/rally.png');
    background-size: cover;
    border: 1px solid #999;
}

.start .default-bottom {
    background-image: url('../images/kibana_small.jpg');
    background-size: cover;
}

.col-default {
    height: 100vh;
}

.default-bottom,
.default-top {
    height: 49vh;
}

.default-top {
    padding: 20px;
    margin-bottom: 20px;
    background: #3E606F;
    color: #fff;
    font-size: 20px;
}

.default-left-text {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.default-left-text p {
    font-size: 250px;
    font-weight: bold;
    text-align: center;
    background: rgba(0,0,0, 0.7);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.insidan .default-top {
    padding: 20px;
}