<html>
<body>
<p>
    <a href="/display?screen=team5">Extern sk채rm</a>
</p>
<p>
    <a href="/control?screen=team5">Styrning Extern sk채rm</a>
</p>
<p>
    <a href="/display?screen=in5">Intern sk채rm</a>
</p>
<p>
    <a href="/control?screen=in5">Styrning Intern sk채rm</a>
</p>

</body>
</html>