<html>
<body>
<h1>Team Plattform</h1>
<p>
    <a href="/display?screen=platform_in">Intern skärm</a>
</p>
<p>
    <a href="/control?screen=platform_in">Styrning Intern skärm</a>
</p>

<h1>Team 5</h1>
<p>
    <a href="/display?screen=team5">Extern skärm</a>
</p>
<p>
    <a href="/control?screen=team5">Styrning Extern skärm</a>
</p>
<p>
    <a href="/display?screen=in5">Intern skärm</a>
</p>
<p>
    <a href="/control?screen=in5">Styrning Intern skärm</a>
</p>

</body>
</html>